body {
	width: 100%;
	padding-bottom: 1% !important;
}

h1 { text-align: center; }

html>body>div#root {
	height: 100% !important;
} 

.height100 {
	height: 100% !important;
}

.width50 {
	width: 50% !important;
	max-width: 350px !important;
}

.width100 {
	width: 100% !important;
}

.width90 {
	width: 95% !important;
}

.flex {
	display: flex !important;
	flex-wrap: wrap;
}

.noWrap {
	display: flex !important;
	flex-wrap: nowrap !important;
}

.column {
	flex-direction: column !important;
}

.justify-center {
	justify-content: center;
}

.selfCenter {
	align-self: center;
}

.center {
	align-items: center !important;
}

.noMargin {
	margin: 0 !important;
}

.marginRight {
	margin-right: 10px !important;
}

.marginLeft {
	margin-left: 10px !important;
}

.marginBottom {
	margin-bottom: 10px !important;
}

.marginTop {
	margin-top: 10px !important;
}

.end {
	align-self: flex-end !important;
}

.wrap {
	flex-wrap: wrap !important;
}

.fixed {
	height: 15% !important;
	width: 100% !important;
	position: fixed !important;
	bottom: 0 !important;
	background-color: white !important;
}

.column-scroll {
	height: 95% !important;
	overflow-y: auto !important;
	padding-bottom: 30px !important;
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.row-scroll>div.tabular.menu {
	width: 100% !important;
	overflow-x: auto;
	padding-bottom: 1px;
}

.height80 {
	height: 80% !important;
}

.height60 {
	height: 60% !important;
}

.noPadding {
	padding-bottom: 0 !important;
}

.space-between {
	justify-content: space-between !important;
}

.justify-end {
	justify-content: end;
}

.space-around {
	justify-content: space-around !important;
}

.fitContainer {
	min-height: 100%;
	flex-grow: 1 ;
}

.padding, .left {
	padding-left: 5px !important; 
}

.padding, .right {
	padding-right: 5px !important; 
}

.padding, .top {
	padding-top: 5px !important;
}

button, .icon {
	margin-left: 3.5px !important;
}

.red {
	color: red;
}

.background {
	background-color: hsl(204, 93%, 85%) !important;
}

.background-red {
	background-color: hsl(0, 100%, 70%) !important;
}

.background-orange {
	background-color: hsl(39, 100%, 70%) !important;
}

.background-green {
	background-color: hsl(120, 100%, 50%) !important;
}

.floatingBottom {
	position: absolute !important;
	bottom: 10px !important;
}

.floatingTop {
	position: absolute !important;
	top: 10px !important;
}

.button.circle {
	height: 200px;
	width: 200px;
	border-width: 3px !important;
	border-color: hsl(206, 73%, 34%) !important;
	border-style: solid !important;
}

@keyframes outlineInAndOut {
  from {
    outline: solid 0px hsl(204, 93%, 72%);
  }

  50% {
    outline: solid 5px rgb(115, 197, 250);
  }

  to {
		outline: solid 0px rgb(115, 197, 250);
  }
}

@keyframes borderBottomInAndOut {
  from {
    border-top: 5px solid white;
		
  }

  50% {
    border-top: 5px solid rgb(115, 197, 250);
  }

  to {
		border-top: 5px solid white;
  }
}